## Functional Programming Tools

### Things to learn

- map
- lambda
- filter
- reduce

### Map (function, an_iterable)

The map() function applies a given function to each item of an iterable (list, tuple etc.) and returns a list of the results.

In [1]:
def CelciusToFahrenheit(temperature):
    return (9/5.0)*temperature + 32

In [2]:
temperatureList = [34,53,23,65]

In [3]:
map(CelciusToFahrenheit, temperatureList)

[93.2, 127.4, 73.4, 149.0]

In [4]:
def squareOfNumber(x):
    return x**2
map(squareOfNumber, range(10))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

#### Map function can take multiple iterables.

In [21]:
map(lambda x,y : x+y, [1,2,4,46,7],[244.234,132,432,5,43])

[245.234, 134, 436, 51, 50]

### Lambda

Python supports the creation of anonymous functions (i.e. functions that are not bound to a name) at runtime, using a construct called "lambda".

In [5]:
f = lambda x : x**2
f(2)

4

lambda x : x ** 2 returns an anonymous function(function with no name), that computes square of a number.

The function returned is stored in f.
Hence, call to function f with value 2, computes its square and returns 4.

In [6]:
map(lambda x: x + 5, [1,2,3,4,5])

[6, 7, 8, 9, 10]

#### Returning a function from a function, using lambda

In [7]:
def func():
    return lambda y: y**3

In [8]:
cube = func()

In [9]:
cube(4)

64

In [10]:
def add(y):
    return lambda x: x+y

In [11]:
sumOfNums = add(5)
sumOfNums(4)

9

#### Temperature Conversion using lambda function

In [15]:
conv = lambda x: (9.0/5.0)*x + 32

In [16]:
Celcius = [39.2,36.5,37.3]

In [18]:
conv(39.2)

102.56

In [22]:
map(conv , Celcius)

[102.56, 97.7, 99.14]

### Reduce (func, iterable)

Reduce continuosly applies the func() function to a **single** iterable, till it returns a single value.

iter = [i1, i2, i3,...., in]

Procedure:
- At first, the first two elements of iter are applied func(), i.e func(i1, i2)
- The list on which reduce is applied looks like [func(i1,i2), i3,i4,...]
- Next, the result of previous function, say r, and next element from the sequence, i3, are   applied to func() function, like [func[r,i3], i4,i5,...]
- Recursively, this procedure is followed till a single value is returned.

In [25]:
reduce(lambda x,y: x*y, [1,2,3,4])

24

In [29]:
reduce(lambda x,y: x if x>y else y, [0,8,2,5,10])

10

In [31]:
reduce(lambda x,y: x+y, range(101))

5050

### Filter

Returns a list of elements for which the function returns true.

In [32]:
range(-5,5)

[-5, -4, -3, -2, -1, 0, 1, 2, 3, 4]

In [35]:
filter(lambda x: x>0, range(-5,5))

[1, 2, 3, 4]