In [3]:
import matplotlib.pyplot as plt
from matplotlib import style
import pandas as pd
import datetime as dt
import pandas_datareader as web

In [4]:
style.use('ggplot')

In [5]:
start = dt.datetime(2000, 1, 1)
end   = dt.datetime(2017, 7, 30)

In [6]:
df = web.DataReader('AAPL','yahoo',start, end, retry_count=5)

In [7]:
df.head()

                Open      High       Low     Close  Adj Close     Volume
Date
1999-12-31  3.604911  3.674107  3.553571  3.671875   3.303425   40952800
2000-01-03  3.745536  4.017857  3.631696  3.997768   3.596616  133949200
2000-01-04  3.866071  3.950893  3.613839  3.660714   3.293384  128094400
2000-01-05  3.705357  3.948661  3.678571  3.714286   3.341579  194580400
2000-01-06  3.790179  3.821429  3.392857  3.392857   3.052405  191993200